@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body{
  background-color : #fbfcfc;
  color : #34495e;
  font-family: 'Ubuntu', sans-serif;
}

.widget{
  width : 850px;
  margin : auto;
}



.axis path,
.axis line {

    fill: none;
    stroke: #34495e;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Ubuntu',sans-serif;
    font-size: 11px;
    color : #34495e;
}

.timeline-container{
  background-color : white;
  max-width : 90%;
  margin : auto;
}

.dot{
  background-color : teal;
}

.dot:hover{
  fill : #ff8a05;
}
